 <div class="form">
   <h5>Add Quote</h5>
   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
 </div>
 <div class="form-group">
   <label for="" class="form-label">Author</label>
   <input type="text" class="form-control" [(ngModel)]="author">
 </div>
 <div class="form-group">
   <label for="" class="form-label">Created By</label>
   <input type="text" class="form-control" [(ngModel)]="createdBy">
 </div>
 <div class="form-group pt-2">
   <label for="" class="form-label">Quote</label>
   <textarea class="form-control" [(ngModel)]="quote"></textarea>
 </div>
 <div class="form-footer">
   <button type="button" class="btn btn-secondary">Close</button>
   <button type="button" class="btn btn-primary" (click)="addNewQuote()">Save Quote</button>
 </div>
